h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#table {
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 40px;
}

#imgStyle {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: contain;
}
